<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.another.goodskind.dao.GoodsKindDao">
    <!--添加-->
    <insert id="addGoodsKind" parameterType="com.another.goodskind.entity.GoodsKind" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO goodskind(name) VALUES(#{name})
    </insert>

    <!--修改-->
    <update id="updateGoodsKind" parameterType="com.another.goodskind.entity.GoodsKind">
          UPDATE zsplatform.goodskind SET name = #{name} WHERE id = #{id};
    </update>

    <!--删除-->
    <delete id="deleteGoodsKind" parameterType="com.another.goodskind.entity.GoodsKind">
        DELETE FROM goodskind WHERE id=#{id}
    </delete>

    <!--查询-->
    <select id="getGoodsKinds" resultType="com.another.goodskind.entity.GoodsKind">
        SELECT id,name FROM  goodskind
    </select>
</mapper>